<?xml version="1.0" encoding="utf-8"?>
 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
    <session-factory>

        <!--  Paramètres de connexion à la base de données -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mydb2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">kekettokiki69</property>

        <!-- Comportement pour la conservation des tables -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Fichiers à mapper -->
        <mapping class="com.entities.Event" />
        <mapping class="com.entities.Adress"/>
        <mapping class="com.entities.User"/>
        <mapping class="com.entities.Guest"/>

        <!-- Affiche les logs SQL -->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="hibernate.format_sql">true</property>-->
<!--        <property name="use_sql_comments">true</property>-->
        
    </session-factory>
</hibernate-configuration>
